<table class="table">
  <thead>
    <tr>
      <th scope="col-1">IFSC CODE</th>
      <th scope="col-2">BANK NAME</th>
      <th scope="col-1">BANK_ID</th>
      <th scope="col-1">BRANCH</th>
      <th scope="col-2">ADDRESS</th>
      <th scope="col-1">CITY</th>
      <th scope="col-2">DISTRICT</th>
      <th scope="col-2">STATE</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{rows.ifsc}}</td>
      <td>{{rows.bank_name}}</td>
      <td>{{rows.bank_id}}</td>
      <td>{{rows.branch}}</td>
      <td>{{rows.address}}</td>
      <td>{{rows.city}}</td>
      <td>{{rows.district}}</td>
      <td>{{rows.state}}</td>
    </tr>


  </tbody>
</table>